* {
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  color: #505050;
  line-height: 1.5;
}

a { color: #505050; }

/* Main */
.main {
  padding: 30px 60px;
  max-width: 600px;
}

/* Header */
.header {
  margin-bottom: 60px;
}

.header__logo,
.header__logo-link {
  margin: 0;

  font-size: 5rem;
  text-decoration: none;
  color: #000;
  letter-spacing: -5px;
}

.header__subtitle {
  margin: -10px 0 0;

  color: #9B9B9B;
  font-weight: 400;
  font-size: 1rem;
}

.header__links {
  margin-top: 15px;
}

/* Buttons */
.btn,
.btn--small,
.page-number {
  display: inline-block;

  text-decoration: none;
  color: #000;

  transition: all .3s;
}

  .btn--small {
    padding: 5px 8px;

    font-size: .75rem;
    font-weight: 700;
  }

    .btn--small:hover {
      color: #fff;

      background-color: #000;
    }

/* Posts */
.posts {
  margin-bottom: 50px;
}

.posts__label {
  margin: 0 0 10px;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
}

.posts__post {
  position: relative;

  display: block;
  padding: 20px 0;

  font-size: 1.875rem;
  font-weight: 100;
  text-decoration: none;
  color: #505050;

  border-bottom: 1px solid #E0E0E0;
  transition: all .3s;
}

  .posts__post:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 0%;
    height: 1px;

    background-color: #000;
    opacity: .3;
    transition: all .6s;
  }

  .posts__post:hover {
    color: #000;
  }

  .posts__post:hover:after {
    width: 100%;
  }

/* Post */
.post__title {
  padding-bottom: 25px;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: -1px;

  border-bottom: 1px solid #E0E0E0;
}

.post__content a:visited { color: #aaa; }

.highlight {
  margin: 0;
  padding: 20px;

  background: #fafafa;
  border: 1px solid #efefef;
}


/* Comments */
.comments {
  margin-top: 50px;
}


/* Responsive */
@media screen and (max-width: 30em) {
  .main {
    padding: 30px 20px;
  }

  .header__logo,
  .header__logo-link {
    font-size: 3.75rem;
    letter-spacing: -3px;
  }
}